body{
    background: #000000;
    color: #FFFFFF;
    font-family: Verdana, 'Times New Roman';
    margin: 25px 25px 0 25px;
}

h1{
    font-size: 48px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}

p{
    font-size: 24px;
    padding: 0 0 15px 15px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border-style: dashed;
    border-width: 10px;
}

div{
    padding: 20px;
    min-height: 100px;
    border: 3px solid #FFFFFF;
}

.intro{
    margin: 15px 0 0 0;
    border-radius: 15px;
}
.red{
    background-color: #ff0000;
    text-align: right;
    margin: 0 0 0 50px;
    border-width: 0 0 3px 10px;
}

.blue{
    background-color: #0000ff;
    text-align: left;
    margin: 0 50px 0 0;
    border-width: 0 10px 3px 0;
}

.yellow{
    background-color: #ffff00;
    text-align: right;
    margin: 0 0 0 50px;
    border-width: 0 0 3px 10px;
}

.yellow h2, .yellow p{
    color: #000000;
}

.yellow h2{
    text-shadow: 2px 4px #c7e2c7;
}

.green{
    background-color: #008500;
    text-align: left;
    margin: 0 50px 0 0;
    border-width: 0 10px 3px 0;
}

span{
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: underline;
    white-space:nowrap;
}

footer{
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
}

footer p{
    text-align: center;
    font-size: 20px;
    padding: 10px 10px 10px 0;
}